@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding: 20px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el ícono y el texto */
  padding: 4px 8px;
}

.link.active {/*Aplica a elementos con ambas clases*/
  font-weight: bold;
  color: blue;
}
.active {
  box-shadow: 0 0 2px 3px rgb(161, 151, 194);
}
.menu {
  width: 14rem;
  height: 100vh;
  padding: 0 0.5rem;
}

/* Elementos del menú */
.menu__list {
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu__list > * {
  border-radius: 1em;
  padding: 0.25em 0.5em;
}

.menu__list > *:hover {
  box-shadow: 0 0 1px 2px rgb(161, 151, 194);
}

/* ESTILOS DE TABLA */
.tabla table {
  background-color: #cef4f9;
}

.tabla td, .tabla th {
  padding: 0.1em 0.2em;
  border: 1px solid rgb(31, 30, 30)
}

.tabla th{
  background-color: rgb(99, 54, 248);
  color: white;
  padding: 0.35em auto;
  text-align: left;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla tr:hover {
  background-color: #ddd;
  /* cursor: pointer; */
}

/* .tabla .eliminar {
  border: 3px solid #EF4444;
}

.tabla .editar {
  border: 3px solid #22c55e
} */

.fa-trash:hover, .fa-pencil-alt:hover, .fa-times:hover, .fa-check:hover {
  cursor: pointer;
}

/* Estilos ShoppingCart*/

/* .tabla .lastTr > *:not(:first-child):not(:last-child) {
  border-left: 0;
  border-right: 0;
}

.tabla .lastTr > :first-child {
  border-right: 0;
}

.tabla .lastTr > :last-child {
  border-left: 0;
} */
